/**
 * Retrives color from "colors" map
 *
 * @param  {String} $color_name Color key
 * @return {Null|Color}
 */
/**
 * Retrives font from "fonts" map
 *
 * @param  {String} $font_name Font key
 * @return {Null|String}
 */
/**
 * Sets background image
 *
 * @param {String} $path_to_bg - path to background image
 * @param {String} $bg_settings = "" - properties that can be added to bg,
 *     for instance: "center center no-repeat"
 * @param {Boolean} $is_default = true - if it's true than it's assumed that path
 *     to images folder starts from exit of current folder
 * @param {Color} $default_color = transparent - bg color under bg img
 */
.error-response {
  text-align: center;
  margin-top: 3vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .error-response__code {
    font-weight: bold;
    font-size: 35vmin;
    color: #71c126;
    line-height: 0.75; }
  .error-response__short-message {
    font-family: "Dobrozrachniy";
    font-size: 20vmin;
    line-height: 0.75; }
  .error-response__full-message {
    margin-top: 4vmin;
    max-width: 60%; }
  .error-response__link {
    z-index: 1;
    margin-top: 2vmin; }
