/**
 * Retrives color from "colors" map
 *
 * @param  {String} $color_name Color key
 * @return {Null|Color}
 */
/**
 * Retrives font from "fonts" map
 *
 * @param  {String} $font_name Font key
 * @return {Null|String}
 */
/**
 * Sets background image
 *
 * @param {String} $path_to_bg - path to background image
 * @param {String} $bg_settings = "" - properties that can be added to bg,
 *     for instance: "center center no-repeat"
 * @param {Boolean} $is_default = true - if it's true than it's assumed that path
 *     to images folder starts from exit of current folder
 * @param {Color} $default_color = transparent - bg color under bg img
 */
.forms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 70%;
  margin: auto; }
  .forms_wrap {
    margin-top: 4vh; }
  .forms__header {
    color: #eaeaea;
    background-color: #333;
    font-family: "Dobrozrachniy";
    text-align: center;
    font-size: 4vmin;
    padding-bottom: 0.5vmin; }

.parsing-form {
  margin: 2vmin 0; }
  .parsing-form__number {
    color: #333; }
    .parsing-form__number_wrap {
      height: auto;
      padding: 1.5vmin 2.5vmin; }

.form-grid {
  display: grid; }
  .form-grid__elem {
    padding: 0 2vmin; }
  .form-grid .form-grid__elem:first-child {
    padding-left: 0; }
  .form-grid .form-grid__elem:last-child {
    padding-right: 0; }

.particular-num-facts-form {
  grid-template-columns: auto repeat(2, 2fr) 1fr; }

.facts-in-range-form {
  grid-template-columns: auto 2fr 1fr 1fr 1fr; }

.particular-facts-form {
  grid-template-columns: auto 4fr 1fr; }
